/* GENERAL */

body {
  overflow-x: hidden;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: #ccc;
  padding: 8px 0;
}

h1,
h2,
p,
button {
  font-family: Arial, Helvetica, sans-serif;
  color: #cccccc;
}

.none {
  display: none;
}
