/* GENERAL */

body {
  margin: 0;
  overflow-x: hidden;
  cursor: default;
}

a {
  text-decoration: none;
  color: #ccc;
  padding: 8px 0;
}

.section {
  height: 100vh;
  position: relative;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

#icon-button {
  display: none;
}

/*  THREE */

.canvas0 {
  width: 100%;
  height: 100%;
  position: absolute;
  outline: none;
  mix-blend-mode: exclusion;
}

.canvas2-container {
  height: 100vh;
  width: 100%;
}

.canvas2 {
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 300vh; */
  outline: none;
}

h1 {
  text-transform: uppercase;
  font-size: 8rem;
  color: #cccccc;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #141517;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222;
}

/* LOADING */

.loading-active {
  overflow-y: hidden;
}

.loading-container {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.loading-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* SECTION 0 */

#section-0 {
  position: relative;
}

.section-0-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #141517;
}

/* SECTION 1 */

#section-1 {
  background: #000;
  background-image: url("./earth.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* COUNTDOWN */

.countdown {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  top: 10%;
}

.countdown > div > h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
}

.years-number,
.months-number,
.days-number {
  text-align: center;
}

/* SECTION 2 */

#section-2 {
  background: #000;
}

.section-2-container {
  position: relative;
  z-index: 2;
}

.vehicle {
  position: absolute;
  width: 28%;
  color: #ccc;
  margin: 17% 15%;
  z-index: 10;
}

.vehicle h1 {
  font-size: 1.5rem;
  margin-bottom: -40px;
}

.vehicle h2 {
  font-style: italic;
  font-size: 4rem;
  color: #eee;
  margin-bottom: 0px;
}

.vehicle p {
  text-align: justify;
  font-size: 1rem;
  color: #ccc;
}

.starship-btn {
  background-color: #000;
  border: 2px solid #141517;
  margin-top: 10px;
  padding: 10px;
  transition: border 0.3s ease-in-out;
}

.starship-btn:hover {
  border: 2px solid #fff;
}

/* SECTION 3 */

#section-3 {
  background-color: #000;
  position: relative;
}

.mars-container {
  position: absolute;
  width: 40%;
  margin: 5% 6%;
}

#section-3 img {
  width: 100%;
}

.why-mars {
  position: absolute;
  width: 28%;
  /* height: 70%; */
  margin: 6% 0 0 60%;
  color: #ccc;
}

.why-mars p {
  text-align: justify;
  color: #ccc;
}

.why-mars h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: -5px;
}

.mars-info {
  display: flex;
  justify-content: space-between;
  color: #ccc;
}

.mars-info span {
  color: #444;
}

.mars-info-container hr {
  border-color: #444;
}

/* SECTION 4 */

#section-4 {
  position: relative;
  background: #000;
}

.plan-map-container img {
  width: 60%;
  position: absolute;
  bottom: 30%;
  left: 0;
  right: 0;
  margin: auto;
}

.map-points-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  display: flex;
}

.map-point {
  width: 14%;
  margin: 0 20px;
  color: #ccc;
  font-weight: bold;
  cursor: default;
}

.point-title {
  height: 80px;
}

.map-point:hover > .hidden-point {
  opacity: 1;
}

.map-point > p > span {
  color: #000;
}

.hidden-point {
  /* visibility: hidden; */
  font-weight: normal;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  color: #888;
}

.to-mars-and-back-container {
  position: absolute;
  width: 30%;
  margin-left: 50px;
  /* background: yellow; */
}

.to-mars-and-back-container h1 {
  font-size: 3rem;
  color: #fff;
}

.to-mars-and-back-container p {
  color: #ccc;
  text-align: justify;
}

/* SECTION 5 */

#section-5 {
  background-color: #000;
  position: relative;
}

.mars-planet-container img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 1500px) {
  .mars-planet-container img {
    height: unset;
  }
}

@media (max-width: 1313px) {
  .point-title {
    position: relative;
    top: 50px;
  }
}

.landing-in-mars-container {
  position: absolute;
  right: 200px;
  top: 100px;
  width: 28%;
  z-index: 100;
  color: #fff;
}

.landing-in-mars-container h1 {
  font-size: 3rem;
  color: #fff;
}

.landing-in-mars-container p {
  text-align: justify;
  color: #ccc;
}

/* RESPONSIVE DEISGN */

@media (max-width: 1400px) {
  /* SPACESHIP */

  .vehicle {
    width: 32%;
  }

  /* LANDING ON MARS */

  #section-5 {
    height: 800px;
  }

  .landing-in-mars-container {
    top: 0%;
    /* background: lightblue; */
    width: 40%;
    right: 5%;
  }

  .landing-in-mars-container h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1100px) {
  /* Point */

  .point-title {
    top: 0;
  }

  /*  COUNTDOWN */

  .countdown {
    width: 90%;
  }

  /* STARSHIP */

  .vehicle {
    display: flex;
    justify-content: space-around;
    width: 95%;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .title-container {
    margin-top: -30px;
    width: 40%;
  }

  .description-container {
    opacity: 0;
    width: 40%;
    transition: opacity 0.3s ease-in-out;
  }

  .description-container-active {
    opacity: 1;
  }

  .description-container button {
    margin-left: 20%;
    font-size: 1.4rem;
  }

  .description-container p {
    font-size: 1.4rem;
  }

  #icon-button {
    display: block;
    background: none;
    border: none;
    position: absolute;
    right: 5px;
    top: -15px;
  }

  #icon {
    font-size: 2rem;
    color: #ccc;
  }

  /* WHY MARS */

  .mars-container {
    /* background: pink; */
    left: 0;
    right: 0;
    margin: auto;
  }

  .why-mars {
    /* background: tomato; */
    left: 0;
    right: 0;
    top: 40%;
    width: 70%;
    margin: auto;
  }

  /* TO MARS AND BACK */

  #section-5 {
    height: 600px;
  }

  .to-mars-and-back-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    width: 50%;
    margin: auto;
  }

  .plan-map-container img {
    bottom: 25%;
  }

  .map-points-container {
    /* background: seagreen; */
    width: 100%;
  }

  .point-title {
    font-size: 0.9rem;
  }
}
